<!-- Tag que indica que este documento é HTML5-->
<!DOCTYPE html>

<!--Inicio do Html -->
<html lang="en">
<!--Inicio do Head -->

<head>
    <!--Inicio das tag Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Link do google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">

    <!-- tag que conecta o style da page-->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/base.css") }}">

    <!--Inicio do Title -->
    <title>
        {% block title %}
            Base
        {% endblock %}
    </title>

    <!--Final do Title -->

</head>
<!--Final do Head -->

<!--Inicio do Body -->
<body>

<!--Inicio do Header -->
<header>
    <!--Titulo de Maior nivel da Página-->
    <h1>
        {% block h1 %}
            Titulo Base
        {% endblock %}
    </h1>

    <!--Inicio do Nav menu-->
    <nav class="menu-header">
        {% block nav_header %}

            <ul>
                <li><a href="#">item 1 base</a></li>
                <li><a href="#">item 2 base</a></li>
                <li><a href="#">item 3 base</a></li>
                <li><a href="#">item 4 base</a></li>
                <li><a href="#">item 5 base</a></li>
            </ul>
        {% endblock %}

        <!--Inicio do Ul  -->
    </nav>

</header>
<!--Final do Header -->

<!-- Inicio Main -->
<main>

    <!--inicio da menu no Main -->
    <div id="menu-main">
        <h5>Menu Principal</h5>
        {% block menu_principal %}

        {% endblock %}
    </div>

    <!-- Inicio Section1 -->
    <section class="main-section1">
        {% block section1 %}
            <!-- titilo nível 2 -->
            <h2>Titulo nivel 2 base</h2>

        {% endblock %}

    </section>
    <!-- Final Section1 -->

</main>
<!--final Main -->

<!-- inicio Footer -->
<footer>
    <!-- titulo nível 5 -->
    <h5>&copy; Gestão de Estoque 2026</h5>

</footer>
<!-- Final do Footer -->

</body>
<!--Final do Body -->

</html>
<!--Final do Html -->
