<!-- Tag que indica que este documento é HTML5-->
<!DOCTYPE html>

<!--Inicio do Html -->
<html lang="en">
<!--Inicio do Head -->

<head>
    <!--Inicio das tag Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet">

    <!-- tag que conecta o style da page-->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/base.css") }}">

    <!--Inicio do Title -->
    <title>
        {% block title %}
            Base
        {% endblock %}
    </title>
    <!--Final do Title -->

</head>
<!--Final do Head -->

<!--Inicio do Body -->
<body>

<!--Inicio do Header -->
<header>
    <!--Titulo de Maior nivel da Página-->
    <h1>
        {% block h1 %}
            Titulo Base
        {% endblock %}
    </h1>

    <!--Inicio do Nav menu-->
    <nav class="menu-header">

        <!--Inicio do Ul  -->
        <ul>
            <li>
                <a href="#">Cadastrar itens</a>
            </li>
            <li><a href="#">Lista de itens</a></li>
            <li><a href="#">Infomação de itens</a></li>
        </ul>

        <!--
        Busca
        <form>
            <input type="text">
        </form>
        -->
    </nav>

</header>
<!--Final do Header -->

<!-- Inicio Main -->
<main>
    <div id="menu-main">
        <h5>Menu Principal</h5>
        <ul>
            <li><a href="#">Cadastrar Produtos</a></li>
        </ul>
    </div>

    <!-- Inicio Section1 -->
    <section class="main-section1">
        <!-- titilo nível 2 -->
        <h2>Ponto de Atenção</h2>

    </section>
    <!-- Final Section1 -->

</main>
<!--final Main -->

<!-- inicio Footer -->
<footer>
    <!-- titulo nível 5 -->
    <h5>&copy; Gestão de Estoque 2026</h5>

</footer>
<!-- Final do Footer -->

</body>
<!--Final do Body -->

</html>
<!--Final do Html -->
